<div class="hero-imag">

</div>
<h1 style="color: azure;text-align: center; ">ABOUT US </h1>
  <mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title>
        <h2 style="color: rgb(223, 186, 19);text-align: center; font-style: oblique; "> 
        Buy Cars Online
        </h2>
      </mat-card-title>
    </mat-card-header>
  <p style = "text-align: center;">
  This is an open-source car selling system to customize for your needs. Give a contactless car rental experience to
  your customers.
  </p>
<mat-card-content>
  <p style = "text-align: center;"> Thousands of individual parts make up the modern automobile. Much like the human body, these parts are arranged into
  several semi-independent systems, each with a different function. For example, the human circulatory system comprises
  the heart, blood vessels, and blood. The automobile contains analogous circulatory systems for coolant fluid (mostly
  water), for lubricating oil, and for fuel. The engine—the "heart" of the automobile—is comprised of pistons, cylinders,
  tubes to deliver fuel to the cylinders, and other components. Each system is necessary for making the automobile run and
  reducing noise and pollution.
   <p style = "text-align: center;">
  Communication is the heart of any transaction. Our internal messaging system lets customers make instant communication
  regarding their bookings, cancellations or any other queries related to reservations.</p>
</mat-card-content>
</mat-card>
  
 